[2020-05-07 22:39] moT01 opened #1 "Testing Tutorials"
_**Feel free to edit this issue directly**_

### Testing user actions:
I'm confident that we can write tests for any lessons that make changes to the file system or changes to a database. If we/I can't find a good way to test some of these, it might be okay to just turn some of them into instructions with no tests and count on the users to just do it.

How can we test:
#### What terminal commands

[2020-05-11 00:29] moT01 opened #2 "Streamline loading process"
The experience I am hoping for is to have users click on a tutorial link in freeCodeCamp -> then strove opens, coderoad autmatically opens with that tutorial loaded and on the introduction or whatever the first thing is.

You two are working on using some environment variables to make that happen I think. If that works, I'm fine with it. You may need to show me how I would get that to happen from

[2020-05-11 01:00] moT01 opened #3 "Declutter"
The more things we can remove from VSCode that aren't needed, the less likely users are going to be distracted and/or confused.

I know there's a number of things I can set from the CodeRoad side when making a tutorial by changing vscode settings. I'm just going to make a list, I will need to look into some of these as I think there's already a way for me to do some of it. It might also be nice if

[2020-05-11 18:37] moT01 opened #4 "Place instructions on fCC"
It might be nice if we could take the instructions from a tutorial and place them on the freeCodeCamp site somewhere. This way, if users need to go back and take a quick look at them, they don't have start the project back up and search through the tutorials. This probably wouldn't be too tough... just a thought for now - and mostly just a reminder for me.

[2020-05-11 23:00] AdamZaczek opened #5 "Updating default extensions"
We need to figure out a good way to update coderoad automatically. It is the only extension that does not work correctly for us out of the box and it's most likely related to it's size.

I'll keep this open so we can track progress regarding this.

[2020-05-11 23:02] AdamZaczek opened #6 "Support env variables object"
To make Coderoad work nicely in Strove, we need to add env variables support.

[2020-05-25 00:50] moT01 opened #7 "Can't load tutorial from URL in Strove"
I am trying to load a coderoad tutorial from a github URL. e.g. https://raw.githubusercontent.com/coderoad/fcc-learn-npm/master/coderoad-config.json

I am getting nothing. Tried in firefox and chrome.

The URL works locally in coderoad.
It works locally and in Strove with the file uploader (not the load from URL)

Not sure what the problem is.

[2020-06-11 15:08] moT01 opened #8 "Need a "reset" button"
As users are going through tutorials, they may make a mistake and go down a path where it's very difficult to pass a challenge. We could use a reset button to change the code back to the state it was at the start of the challenge.

I have an idea for what I might need to do for the SQL tutorials. Basically I will have to go and save a database for each challenge (I think it's a .sql file), which c

[2021-03-30 14:01] #8 closed, assigned to nobody

[2021-03-30 14:01] #6 closed, assigned to AdamZaczek

[2021-03-30 14:51] moT01 opened #9 "Add CodeRoad to more containers"
I believe CodeRoad only comes on CodeAlly containers for me, probably Shawn and Beau, and I remember Adam saying anyone coming from freeCodeCamp.org at one point. Not entirely sure if that's still accurate, but I think it's pretty close. I need a way for people to test the tutorials.

I think the ideal solution for me is to put the extension on all containers when the [CodeRoad URL environment var

[2021-03-30 20:12] moT01 opened #10 "Hide big box in CodeAlly"
This big box on the right:

![Screen Shot 2021-03-30 at 3 03 49 PM](https://user-images.githubusercontent.com/20648924/113049490-50e96a00-9169-11eb-8afa-0aae2eafc416.png)

needs to be hidden. After looking at the dev tools:

<img width="885" alt="Screen Shot 2021-03-30 at 3 07 27 PM" src="https://user-images.githubusercontent.com/20648924/113049788-ad4c8980-9169-11eb-9774-174d8fefed60.png">

I thi

[2021-03-30 20:21] moT01 opened #11 "Open embed links in same container"
freeCodeCamp will use the embed feature with CodeAlly. When I open a link to one of those containers, close it, and try to open the same link, it appears to create a new container. We need it to open the same container so users can pick up tutorials where they left off. Before the transition from Strove to CodeAlly this seemed to be how it worked, so I'm hoping it's an easy fix.

[2021-03-30 20:26] moT01 opened #12 "Add "are you sure you want to leave" popup to freeCodeCamp"
I have, frequently enough, accidentally hit the backspace or clicked a button, that made me leave a tutorial/CodeAlly container. Basically, making me lose all my progress. A number of websites have a popup in situations like this, that say something like, "are you sure you want to leave" - making users click a button before they can leave. I think this should be added to give one more step before

[2021-03-30 21:15] moT01 opened #13 "Startup terminal commands not working in CodeAlly"
The [startup terminal commands](https://github.com/moT01/.learn-bash-scripting-by-building-five-programs/blob/main/strove.json#L2) don't seem to be working at the moment. I didn't play around with the terminal that shows up when a container loads, it seems a little different/interesting - but, there's a few steps I need to take to close it:

![Mar-30-2021 15-46-00](https://user-images.githubuserco

[2021-03-30 21:20] moT01 opened #14 "Auto load CodeRoad on start"
I know you guys played around with this a little. Not sure if it's even possible, but the best experience would be if CodeRoad loaded automatically when a tutorial is started.

[2021-03-30 21:31] moT01 opened #15 "Unique troubleshooting/help/info page per tutorial"
`https://github.com/coderoad/coderoad-vscode/issues/475`

Duplicating here for myself

[2021-03-30 21:39] moT01 opened #16 "Add a restart whole tutorial button"
`https://github.com/coderoad/coderoad-vscode/issues/476`

Duplicating here for myself

[2021-03-30 21:44] moT01 opened #17 "Update CodeRoad on CodeAlly"
I believe there was some issues around updating CodeRoad in CodeAlly. Not sure what they were. It looks like it's `0.14.0` in CodeAlly and `0.14.2` locally. I suppose I could play around with it more locally, but it would be nice to get it updated so I could see what issues are still a problem with CodeRoad. Most of the issues are fairly minor I believe.

Edit: I may be wrong on the CodeAlly versi

[2021-04-01 13:25] #2 closed, assigned to nobody

[2021-04-01 13:27] #17 closed, assigned to nobody

[2021-04-01 13:33] #7 closed, assigned to nobody

[2021-04-01 13:34] #1 closed, assigned to nobody

[2021-04-01 14:02] moT01 opened #18 "Get fCC user info to and from a tutorial (add webhook URL)"
Not sure on this one, but we will want to know if an fCC user has completed a tutorial so we can put it in our DB and know if they did all the projects for a cert, or so we can put a checkmark next to what they've completed, etc...

@raisedadead mentioned that this shouldn't be a problem at point, can you provide any input here?

[2021-04-01 14:15] moT01 opened #19 "Closing and reopening CodeRoad sends me to the first set of instructions"
When I close CodeRoad and start it back up. I get the instructions for the first lesson...
[Here's a gif](https://files.gitter.im/5c924148d73408ce4fbb3fa5/9kIH/Apr-01-2021-09-10-15.gif)

All the files are there for the lesson I left off from, so that part is in the right spot.

I don't believe this is the behavior locally - I think continuing a tutorial there will work.

[2021-04-02 09:53] raisedadead opened #20 "Boilerplate repo management."
Boilerplate repos for projects have a name like so: [`.learn-bash-by-building-a-boilerplate`](https://github.com/freeCodeCamp/.learn-bash-by-building-a-boilerplate), we would want to follow the general naming convention for most our boilerplate repos.

We would also additionally want to see if CodeAlly can instead clone a repo and followed by an intermediate "build" step that adds a `.` to hide th

[2021-04-02 14:41] moT01 opened #21 "How to translate CodeRoad tutorials"
Translating a CodeRoad tutorial is easy. Just fork the repo, translate the markdown and rebuild the JSON. This would be a separate repo for each language and be a struggle to maintain.

I suppose the goal would be to have a markdown file for each language in one repo. Not sure how that would work. Might need a yaml file for each language, and then build a separate JSON for each language? And someh

[2021-04-02 15:22] moT01 opened #22 "Hide welcome screen on start up"
Note to self - add this so vscode settings: "workbench.startupEditor": "none"

[2021-04-03 04:38] ShMcK commented on #21
After looking at how other projects translate md files:

1. TUTORIAL.{prefix}.md, eg. `TUTORIAL.en.md`
2. language meta property at the top of a markdown file
3. tutorial folder with language files. Eg. `tutorial/en.md`

I'm leaning towards #1 or #3. Thoughts?

---

The remaining steps would be to:
1. ensure multiple tutorial languages build with the cli
2. add a language change option to the app

[2021-04-05 16:19] moT01 commented on #21
Either way would work - I think I like #1 better. So a main branch might look like this?:

[code]

So I'm guessing all the languages would be in the one JSON file. Wondering if that would ever make it too big.

Trying to think of potential issues:
So if I have the above repo working, and want to add a lesson - I would probably need to add it to all the md files. It think it would probably break if

[2021-04-05 19:56] AdamZaczek commented on #13
I'll get this sorted.
There will be 2 changes:
No read-only terminal popping for tutorials
Init command working

[2021-04-05 20:03] AdamZaczek commented on #20
This can be handled by the init command once it works correctly. It would not be instant but take +/- 2 seconds on average to have the repo name updated.

[2021-04-05 20:06] AdamZaczek commented on #19
I believe it's an issue on the CodeAlly part. We'll take a look.

[2021-04-05 20:18] AdamZaczek commented on #14
We're want to solve a bunch of CodeAlly + CodeRoad integration issues, including this one all at once. We're waiting for one fix on the code-server side to handle them.

[2021-04-05 20:20] AdamZaczek commented on #12
As discussed, it will be best to handle this on Freecodecamp's end.

[2021-04-05 20:50] ShMcK commented on #21
A few constraints:
- translations only in the markdown files
- no translations in the code commit or yaml. I don't think this would be a problem

I think it would be easier to generate multiple `tutorial.${LANG}.json` files and use the language-specific file.

SOME CONSIDERATIONS:

- a new level/step added to an English tutorial would require that the Spanish tutorial have text updated,  too. This

[2021-04-08 13:27] moT01 commented on #21
It's fine to leave for now, but there is the assertion messages in there that show up. Maybe down the road we can figure out something for those.

Sounds good.

The translations will always take time. I think it would probably be easier to use the second solution rather than trying to have different versions for each language, but I'm not sure. Not sure if you had something in mind for having Code

[2021-05-03 13:02] moT01 commented on #13
Thanks @AdamZaczek 🎉 This one looks to be fixed

[2021-05-03 13:02] #13 closed

[2021-05-03 13:02] moT01 commented on #10
Thanks @AdamZaczek 🎉 This one looks to be fixed

[2021-05-03 13:02] #10 closed

[2021-06-01 19:25] moT01 commented on #22
This actually doesn't seem to work on my end. The settings I have get applied after CodeRoad is loaded and VSCode is already open with the welcome screen up. So the setting gets added, but the welcome screen stays open. I can look into seeing if there's a way to close it after it's already open - I feel like that's unlikely. Or perhaps there's something else I can do - not sure yet.

I thought I r

[2021-06-01 19:28] moT01 commented on #9
Fixed 👍

[2021-06-01 19:28] #9 closed

[2021-06-02 11:03] AdamZaczek commented on #14
We should be able to use the code-server CLI for this: https://github.com/cdr/code-server/issues/642.
We will experiment with it once we update our Docker image.

[2021-06-30 12:49] moT01 opened #23 "Add back preview functionality"
There used to be a "preview" drop down menu in the blue bar at the top of a CodeAlly VM for viewing locally running ports. It doesn't seem to be there anymore. You can see it in this [screen shot](https://user-images.githubusercontent.com/20648924/113049490-50e96a00-9169-11eb-8afa-0aae2eafc416.png) from another issue (ignore the red square - it's the `preview` at the top left). I'm not sure if it'

[2021-06-30 12:55] moT01 commented on #23
Let me confer with @scissorsneedfoodtoo, we may not actually need it - probably better to have it, though.

[2021-07-01 03:23] scissorsneedfoodtoo commented on #23
@moT01, I think you're right -- for the relational DB projects, and some of the projects for later sections (Learn npm by Building an npm Module), we probably won't need the preview. But for other practice or required projects with front ends we will need the preview back.

[2021-07-20 18:57] moT01 commented on #23
I found a way around this. The ability to view the page is there, the preview button just isn't. I don't think this is entirely necessary at the moment.

[2021-07-20 19:00] moT01 commented on #18
On the fCC end, we will need to generate URL's for users. On the CodeRoad end, we need a place to enter that URL to submit steps or entire tutorials/projects

[2021-07-20 19:05] moT01 commented on #3
Closing, as I have pretty much found a way to declutter everything I can.

[2021-07-20 19:05] #3 closed

[2021-07-20 22:46] AdamZaczek commented on #23
Hey! Sorry for being late for the party! We will bring the preview button back.

[2021-07-21 02:22] moT01 opened #24 "Login/auth methods/container type for CodeAlly"
With the new way to add CodeRoad to containers. I am able to log in to CodeAlly in two different ways and go through tutorials.

1. The first is the default method on CodeAlly. This only works for me if I go to CodeAlly.io and log in there first using the login button at the top.

    - Pros:
      - Terminal Commands run
      - Container loads up automatically

    - Cons:
      - Panel on the r

[2021-07-28 15:10] AdamZaczek commented on #24
I will work on a way to combine both methods. I knew the issue is there and I've been preparing to handle it.

Some of the cons of the alpha version of dev login are that it's also not optimized at all. I believe it loads for quite some time on your end.

I'm on it.

[2021-07-28 15:12] AdamZaczek commented on #22
We will check. The startup screen should never be shown in general.

[2021-08-09 16:11] AdamZaczek opened #25 "Unable to install coderoad using open-vsx"
We have updated our Docker image to the newest vscode!
We are also using open-vsx now. This means we can probably deal with all the missing coderoad issues.
It seems like coderoad still needs to be approved in open-vsx first though.

**Describe the bug**
Coderoad can not be found in open-vsx https://open-vsx.org/?search=coderoad&category=&sortBy=relevance&sortOrder=desc

We should be able to searc

[2021-08-09 17:18] moT01 commented on #25
Meaning, on the next CodeRoad release, you would expect it to show up there?

[2021-08-09 17:30] AdamZaczek commented on #25
Meaning, Shawn can probably fix this, by releasing thecoderoad to open-vsx, similarly to how it has been released to vscodes extension library.

[2021-08-11 03:38] ShMcK commented on #25
@AdamZaczek I've just published CodeRoad to open-vsx. Let me know if you have any issues!

https://open-vsx.org/extension/coderoad/coderoad

[2021-08-11 05:21] AdamZaczek opened #26 "Coderoad installs but doesn't finish loading on start"
**Describe the bug**
Newest coderoad does not start in CodeAlly. I think, it's on our end but I just started looking into it.

**Expected behavior**
Coderoad successfully loads

**Screenshots**
Screenshot with an error that causes the problem:
![image](https://user-images.githubusercontent.com/14284341/128973718-423aeba7-9493-47c4-8211-40db487c38af.png)

[2021-08-11 05:22] AdamZaczek commented on #25
Thanks! I can install it. I'm closing this one.

[2021-08-11 05:22] #25 closed, assigned to ShMcK

[2021-08-27 13:45] moT01 commented on #26
I just saw this issue, any luck @AdamZaczek? I noticed this problem, sometimes it loads right away - others, I had to close and reopen CodeRoad up to several times before it loaded.

[2021-08-27 15:46] AdamZaczek commented on #26
It seems like we need to update docker image to change html to enable fetching script correctly @moT01
[code]

[2021-08-27 16:01] AdamZaczek commented on #26
I did some additional digging by looking at all the iframes. The issue is in Coderoad after all @ShMcK @moT01 .
Appending the hash:
[code]
in https://github.com/coderoad/coderoad-vscode/blob/417d9dcf09587f7f3e0755fb9dd2feba9f1fb774/src/services/webview/render.ts should do the job.

[2021-08-28 16:41] ShMcK commented on #26
@AdamZaczek do you know what generates that hash? Is it random each time, or consistent?
I'll add any additional CSP exceptions as an env variable and follow up

[2021-08-28 17:32] ShMcK commented on #26
🚀  Published coderoad.coderoad v0.14.5 on Open-vsx.

To make it work, include an environmental variable: `CODEROAD_CONTENT_SECURITY_POLICY_EXEMPTIONS` set to the hash.

Let me know if there are any issues.

[2021-08-28 22:04] AdamZaczek commented on #26
@ShMcK Nice! I will update or API to pass the variable. The hash is provided by code-server but I'm not aware of how do they generate it.
We should be able to catch potential hash changes when we update the docker image.

[2021-08-28 22:05] AdamZaczek commented on #26
@ShMcK Nice! I will update our API to pass the variable. The hash is provided by code-server but I'm not aware of how do they generate it.
We should be able to catch potential hash changes when we update the docker image.

[2021-09-22 16:50] wygodaPaul commented on #26
Hi,
coderoad.coderoad v0.14.5 still does not work as intended with variable:
CODEROAD_CONTENT_SECURITY_POLICY_EXEMPTIONS set to the hash.
but now I got 'black' screen.
![image](https://user-images.githubusercontent.com/33558885/134387033-afd5bc40-b9fd-4b11-9bea-bc6126580ffb.png)

[2021-09-23 04:13] ShMcK commented on #26
Is the hash blanked out in the example above? I see the value set to `#`. Maybe it's not passing through properly?

Is there any way I could re-create the project locally to test the CSP exemption issue?

[2021-09-23 15:04] moT01 commented on #26
You can run one of the tutorials in CodeAlly with this code:

[code]
Put it in a `.html` file and open it in the browser. There may be some struggles getting it loaded up - it seems to get stuck on the last step before it's loaded. Refreshing the page will often get the loading process to finish for me.

There seems to be a bigger issue at the moment that probably needs to get resolved before you

[2021-09-24 14:47] AdamZaczek commented on #26
@moT01 Is this one issue still occurring? It has been fixed elsewhere already.

[2021-09-24 15:05] wygodaPaul commented on #26
@ShMcK The issue with the black screen seems to be a problem on my end. Was testing it all on localhost.
Probably nginx.
Still hash that @AdamZaczek provided me with was not working. The same Launching... screen is showing.

Sorry, but like I wrote earlier nginx probably denies any localhost tests. If you need to set some env's, you can send them to me, and I'll try to set them for you on producti

[2021-09-24 15:25] moT01 opened #27 "CodeAlly not loading"
@moT01 Is this one issue still occurring? It has been fixed elsewhere already.

_Originally posted by @AdamZaczek in https://github.com/freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp/issues/26#issuecomment-926686685_

Moving this to a new issue

Yes, this is still occurring @AdamZaczek - it started just a few days ago, maybe Monday or so. It worked a few days before that. Another staff here saw that

[2021-09-27 14:53] AdamZaczek commented on #27
I see! We are working on passing the env parameters from Freecodecamp to CodeAlly and had to rework our URL mechanisms for that. We will handle this, thanks.

[2021-09-27 14:54] AdamZaczek commented on #27
I see! We are working on passing the env parameters from Freecodecamp to CodeAlly and had to rework our URL mechanisms for that.
We will handle this asap.

[2021-09-30 16:42] AdamZaczek commented on #27
We just deployed a large update of the flow needed to pass env variables.

Example link to try it out
https://codeally.io/embed/?repoUrl=https://github.com/codeallyio/hackathon-starter-codeally&envVariables=ENV_VARIABLE=VALUE,ANOTHER_VARIABLE=ANOTHER_VALUE

This will allow you to pass Freecodecamps variables directly to env variables in the container.

Working on those changes caused this issue. L

[2021-09-30 22:45] AdamZaczek commented on #23
This should have been fixed now!

[2021-10-05 19:42] moT01 commented on #27
This looks like it's working good 👍 Thanks 🎉

[2021-10-05 19:42] #27 closed, assigned to nobody

[2021-10-05 19:43] moT01 commented on #23
This looks good 👍 Thanks @AdamZaczek & CodeAlly team 🎉

[2021-10-05 19:43] #23 closed, assigned to AdamZaczek

[2021-10-05 19:46] moT01 commented on #24
I think we're safe to close this. Most of the issues are fixed - we can create new ones for more specific issues. Feel free to let me know if you want it to stay open @AdamZaczek

[2021-10-05 19:46] #24 closed, assigned to AdamZaczek

[2021-10-05 19:49] moT01 commented on #20
I think this is safe to close - the repos have been renamed and transferred to fCC org

[2021-10-05 19:49] #20 closed

[2021-10-05 19:52] #15 closed

[2021-10-05 20:09] moT01 commented on #11
This seems to be working after the latest updates, but not quite how I was hoping. Maybe I wasn't specific enough. Here's some more details - The fCC site will look something like this:
![Screen Shot 2021-10-05 at 2 54 36 PM](https://user-images.githubusercontent.com/20648924/136093658-0efd09a9-d652-42f6-a061-6bce1c4b28cb.png)
Each button there opens a link/container with the following code:
[code

[2021-10-05 20:45] AdamZaczek commented on #24
We can close! I will finish a better version of the dashboard but it's not strictly needed.

[2021-10-05 20:52] AdamZaczek commented on #18
This one is should be already handled @moT01. Let me know if there are any issues!

You can pass any environment variables to the docker container like this
[code]

[2021-10-05 20:53] AdamZaczek commented on #18
You can pass any environment variables to the docker container like this
[code]

Let me know if there are any issues!

[2021-10-05 22:19] moT01 commented on #18
I am having an issue @AdamZaczek - I opened one of my URL's, similar to the example you just gave, to test things - I'm quite sure I didn't include any variables when I opened it - now, every embed link I open takes me to the same container (including the example you gave). I [outlined some more details here](https://github.com/freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp/issues/11#issuecomment-934

[2021-10-06 09:19] AdamZaczek commented on #18
I see, we're on it!

[2021-10-06 09:26] AdamZaczek commented on #11
This makes sense and was the planned behavior. We will check what's not working yet. Passing env variables required a ton of changes in how we're handling embeds. Sorry for the issues!

[2021-10-22 16:06] moT01 opened #28 "Can't load containers"
I haven't loaded up a tutorial in a week or two. Tried today - It doesn't seem to be working. I'm getting an error:

<img width="572" alt="Screen Shot 2021-10-22 at 10 56 05 AM" src="https://user-images.githubusercontent.com/20648924/138486064-5f238c67-22f8-44ac-a101-1ad333772190.png">

And the VM never loads up. I'm seeing this in my console:

![Screen Shot 2021-10-22 at 10 57 32 AM](https://user

[2021-10-25 13:22] AdamZaczek commented on #26
@ShMcK This doesn't seem to work.
We're adding the env variable you suggested to all our projects to make debugging this easier.

[2021-10-25 13:33] AdamZaczek commented on #28
Our users are not reporting issues, maybe something broke because of trying to run both embeds and developer projects.

What email did you use?
Having a redux response pasted would also be great, thanks!

[2021-10-25 16:43] AdamZaczek commented on #28
It should be fixed already @moT01 ! Let me know if you still have issues!

[2021-10-25 17:00] moT01 commented on #28
Thanks @AdamZaczek - Looks like it's working 🎉

I'm curious if that's something to do with my account, or from trying to open an embed link and developer project? I'm guessing that users will open one of my tutorials (embed), see that it's powered by CodeAlly, and then open one of the developer projects. I'll give it a try and see if that's causing any problems.

[2021-10-25 17:00] #28 closed, assigned to nobody

[2021-10-26 10:34] AdamZaczek commented on #28
We had an old mechanism for handling storage for embeds and it didn't work well when switching between embeds and normal projects. Thanks!

[2021-10-26 10:34] AdamZaczek commented on #18
@moT01 This should work now. Let me know if you see any issues!

[2021-10-27 16:04] moT01 opened #29 "Logging in via embed could use some fine tuning"
I cleared my storage and started up a tutorial to see what a first time user would see. Here's a gif:
![Oct-26-2021 18-33-14](https://user-images.githubusercontent.com/20648924/139089849-460743cb-43da-4686-a91e-da384e191571.gif)

- It opens in a new tab, it would be nice if it opened in the same tab
- It took me to CodeAlly after I logged in, it should go to freeCodeCamp (localhost when developing

[2021-10-27 16:51] moT01 opened #30 "Add abililty to manually delete containers on CodeAlly dashboard"
Right now, there's no way for users to delete containers/projects. Once https://github.com/freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp/issues/11 is resolved, we hope to have users go back to the same container for a specific tutorial. The unexpected will likely happen. Having a way to delete a container in case something is broken, or someone just wants to start over would be nice.

[2021-10-27 16:56] moT01 commented on #26
Just and FYI - I am able to get CodeRoad to load seemingly every time. I usually just have to close it and reopen a few times before it works.

[2021-10-27 17:56] moT01 commented on #18
They don't seem to be working quite right @AdamZaczek

When I use a URL like the one you shared directly in the address bar, they show up when I `printenv` in the terminal of the container

When I have the URL in an `<iframe>`, they don't show up. I tested it a number of times. That seems to be the difference.

[2021-10-27 18:10] moT01 commented on #19
Side note: This doesn't happen locally

[2021-10-27 21:32] AdamZaczek commented on #30
This will be needed for sure. The priority seems right too - it's not needed right away but we need to have it prepared in case, an unexpected problem happens and users are locked.

[2021-10-27 21:46] AdamZaczek commented on #29
There is a reason why it works like this.
OAuth prevents authentication inside iframes.
Because of this, we need to redirect to CodeAlly first.
We redirect to CodeAlly to log you in and we redirect users back after that.

What we can do is redirect to a /redirect page instead - and make it show a loader!

[2021-10-27 22:01] AdamZaczek commented on #5
This can be closed now as we transitioned to VSX and Coderoad updates correctly now.

[2021-10-27 22:01] #5 closed, assigned to AdamZaczek

[2021-10-27 22:23] moT01 commented on #29
Yea, I thought there was a reason for it. Wonder if we can or should do it all the same tab though. Navigate the existing tab to CodeAlly, and redirect back to freeCodeCamp after a user is logged in. Not that big of a deal if a second tab opens, but I think one would be better. It would be nice to end up back on the page they started at though - then the container would (I think) start loading as

[2021-10-27 22:40] AdamZaczek commented on #29
It should not be possible in the same tab because we work within two different domains.
Oauth forbids it.

What we're doing is working around the specification by logging users in within CodeAlly and redirecting after.
And this has to be done from CodeAlly as a top domain.

The redirect page will serve as a loader page, to add a smooth transition.

[2021-10-27 22:45] moT01 commented on #29
Wonder if there's a way to auto close that first tab when the new one opens.

[2021-10-28 09:50] jaroszpiotr91 commented on #11
OK, this should be fixed now. From now on if repoUrl changes, app will open new container - with existing data for previously visited repoUrls and completely new for others.

[2021-10-28 13:16] AdamZaczek commented on #26
We have a call regarding this and another issue with @ShMcK on Friday. I will keep you posted.

[2021-10-30 19:04] AdamZaczek commented on #19
We made a fix and we can not reproduce it anymore.
Do you still experience the issue?

[2021-10-30 19:08] AdamZaczek commented on #14
It seems we found a way to do this well. We can open Coderoad if the project has a codeally.json file.

[2021-11-04 19:55] moT01 commented on #18
This appears to be working now - thanks @AdamZaczek 🎉

[2021-11-04 19:55] #18 closed

[2021-11-15 10:16] AdamZaczek commented on #26
The initial error message is gone! Looks like we need an additional fix or two and we'll be good to go. My current errors:
![image](https://user-images.githubusercontent.com/14284341/141764067-c7dd3470-558c-4cf2-8bc6-402e58b7e1c3.png)

[2021-11-15 10:24] AdamZaczek commented on #30
We are halfway through adding this.

[2021-11-15 22:10] AdamZaczek commented on #14
This is handled on the coderoad side. Thanks @ShMcK! We'll update the default coderoad version once https://github.com/freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp/issues/26 is handled.

@moT01 Coderoad will auto-open any project with codeally.json such as https://github.com/codeallyio/postgres-example/blob/master/codeally.json.

[2021-11-15 22:11] AdamZaczek commented on #14
This is handled on the coderoad side. Thanks @ShMcK! We'll update the default coderoad version once https://github.com/freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp/issues/26 is handled.

@moT01 Coderoad will auto-open in any project with codeally.json such as https://github.com/codeallyio/postgres-example/blob/master/codeally.json.

[2021-11-16 04:33] ShMcK commented on #26
@AdamZaczek do any of the errors result in broken functionality?

I believe the first error can be ignored

[2021-11-16 11:01] AdamZaczek commented on #26
@ShMcK Yes, the loading is still stuck. To debug this, you can add a new playground project and add Coderoad there. Looks like a small part of your local fix didn't make it to the new release.
![image](https://user-images.githubusercontent.com/14284341/141973379-80becea9-13f0-4392-94f7-018faa021f4c.png)

[2021-11-16 14:42] moT01 commented on #11
Sorry for the delayed response here. This doesn't seem to be working quite right. I'm not sure exactly what's going on, but here are some examples of what I might be seeing... First, I open project 1, it loads as expected. Then I open project 2 and it loads as expected. I try to go back to project 1, it loads the project 2 container. I open project 3, it loads project 2 container. I open project 4

[2021-11-16 15:19] moT01 commented on #19
I'm wondering if it's cause when we load tutorials on CodeAlly, we skip one step at the beginning. If I run locally, I see a "start new tutorial" and "continue tutorial" options. When running on CodeAlly, it just auto-loads. Does that sound like it might be a cause @ShMcK?

[2021-11-16 15:37] moT01 commented on #16
Should be resolved with https://github.com/coderoad/coderoad-vscode/pull/513

[2021-11-16 15:49] moT01 commented on #29
This isn't an MVP issue - it works pretty good. But it would be nice to get the redirect to take users back to the page they came from after they're all logged in.

[2021-11-16 16:19] moT01 opened #31 "Startup terminal commands don't run"
The [startup terminal commands](https://github.com/freeCodeCamp/learn-bash-scripting-by-building-five-programs/blob/main/codeAlly.json#L2) don't work. They were working at one point, then stopped, then the issue got fixed - and now they don't work again. This isn't an MVP issue - it's good enough for now.  I think, ideally, the container would load with no terminals open or one terminal open and t

[2021-11-18 00:50] AdamZaczek opened #32 "Tutorials should perserve the progress across container sessions."
**Describe the bug**
Progress in the tutorial is lost if the user stops the session and comes back again later on.
The progress is stored in localStorage and should be stored in a file instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a tutorial
2. Make some progress
3. Open another tutorial
4. Go back to the first tutorial
5. See that the progress is lost

**Expected behavior**

[2021-11-18 03:44] ShMcK commented on #32
My initial thoughts:

- [x] add an env variable: `CODEROAD_SESSION_FILE_PATH` (string) as a path to the file to write/read from
- [x] if the variable exists AND a localStorage session is not found, read the session from the file if its found
- [x] if the variable exists, write session progress to the file as well as local storage

Considerations:
- We should not write to the workplace directory or

[2021-11-18 16:27] AdamZaczek commented on #32
I agree with your implementation thoughts,

Regarding considerations:
_We should not write to the workplace directory or it will mess with Git_
Agreed

_We may hit permissions errors in VSCode or Node when trying to write to a file outside of the workplace_
We already tested this in another case and it works as long as the final file path is not protected. It won't be once we pass
the proper CODER

[2021-11-18 16:32] ShMcK commented on #32
I think I can handle the CodeRoad part, I have a basic implementation ready (see PR above). But I'll test it more and adjust.

[2021-11-18 16:35] AdamZaczek commented on #11
I didn't manage to make it misbehave anymore! Please let me know if it also works on your end!

Iframes tend to cache the internal websites so it's likely that our changes have not been updated on your end yet.

[2021-11-20 20:52] ShMcK commented on #26
I've been trying to debug this issue for a while now. It's hard to recreate:
- only reproducible in CodeAlly
- the extension does not provide any logs outside of the client
- I have to use the in-terminal editor to test code changes

As a result, I don't have any confidence on timelines for this one.

I'll try to keep this thread updated with what I discover:

- It's unlikely a CSP issue. Even wit

[2021-11-21 02:21] ShMcK commented on #26
I found the problem.

I had a filter for events, to avoid events from other extensions: `event.origin.match(/^vscode-webview/)`

 But events from codeally have an origin of `https://codeally.io`.

[2021-11-21 02:55] ShMcK commented on #26
![image](https://user-images.githubusercontent.com/4660659/142747597-eebfcb8f-06ad-4ca0-9008-834cda5b88ed.png)

Working with v0.15.2!

[2021-11-21 05:49] ShMcK commented on #32
Now published in CodeRoad v0.16 on open-vsx.

To make it work, add the following env var: `CODEROAD_SESSION_STORAGE_PATH` and pass in the path to the folder where session can be stored.

[2021-11-21 05:53] ShMcK commented on #19
@moT01 like you mentioned - its because of the logic for skipping a step at the beginning.

[code]

CodeAlly launches with a TUTORIAL_URL of which tutorial to use, which you probably don't have set locally.

I'll put in a fix to check to just auto-continue for users.

[2021-11-21 10:44] AdamZaczek commented on #32
Awesome, I'm handling this today!

[2021-11-21 17:23] ShMcK commented on #16
@moT01 safe to close this one?

[2021-11-21 17:36] #14 closed

[2021-11-21 17:43] ShMcK commented on #14
Released in CodeRoad v0.17

[2021-11-21 17:44] ShMcK commented on #19
@AdamZaczek let me know if this works with your testing as of CodeRoad v0.16+

[2021-11-21 17:45] ShMcK commented on #19
Released in CodeRoad v0.17 on the ovsx marketplace

[2021-11-21 17:45] #19 closed

[2021-11-22 03:40] moT01 commented on #16
Well, it doesn't seem to be working quite right. I tried on one of my tutorials, it reset me to the second step - after I passed it, it did not load the next commit - it did take me to the next instructions. Resetting your `Learn NPM` tutorial, took me to the first step, but it also did not load next commit after I passed it. Both times - a file I had created was still there and did not get delete

[2021-12-01 03:20] moT01 opened #33 "Issue with auto launching / continuing a tutorial"
I was having an issue loading CodeRoad (0.17.2, but this issue probably started at 0.16.0 or 0.17.0) in the docker container we have set up to run tutorials locally. Basically, I would launch CodeRoad and it would auto load my last tutorial, and none of the files were there to continue the tutorial. And there was no way to start over - not even by rebuilding the container, strangely. I know we nee

[2021-12-01 10:46] AdamZaczek commented on #33
The file-based progress storing feature has been added just a moment ago so it's probably not tested well yet.
We pass CODEROAD_SESSION_STORAGE_PATH to the containers already @ShMcK .
I believe that's what caused the bug to appear.

[2021-12-01 10:48] AdamZaczek commented on #33
The file-based progress storing feature has been added just a moment ago and it's probably not tested well yet.
We pass CODEROAD_SESSION_STORAGE_PATH to the containers already @ShMcK . Could you check?
I believe that's what caused the bug to appear. Once this works, tutorials progress will be stored across sessions @moT01

Edit: To debug:
1. Run one playground project. Install coderoad.
2. Run ano

[2021-12-01 10:50] AdamZaczek commented on #32
This feature probably causes https://github.com/freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp/issues/33 to happen. Needs investigation.

[2021-12-02 06:04] ShMcK commented on #33
Can you change the `CODEROAD_SESSION_STORAGE_PATH` to a relative path, like "../.local"? That removes the failure to load.

In the meantime, I'll look into why it's not writing to the directory.

[2021-12-02 23:26] AdamZaczek commented on #33
I changed the path for the Coderoad storage file to a relative one. Let us know if it fixed the issue @moT01

[2021-12-06 15:05] AdamZaczek commented on #32
Just an update - this is already updated according to @ShMcK's suggestion from https://github.com/freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp/issues/33.

[2021-12-06 15:05] AdamZaczek commented on #32
Just a heads up - this is already updated according to @ShMcK's suggestion from #33.

[2021-12-07 02:08] moT01 commented on #33
My main account is a little stuck right now. When I load up pretty much any tutorial, it goes to the CodeRoad loading screen:
![Screen Shot 2021-12-06 at 7 35 22 PM](https://user-images.githubusercontent.com/20648924/144950996-0044321b-8fa8-48f0-9f26-d02a79ff0e43.png)

I believe it's cause I have previously created containers with the names of those tutorials.

On my second account, I believe I ha

[2021-12-07 02:20] moT01 commented on #11
I only tested this a little bit, but I believe it is working properly 👍

Thanks @AdamZaczek 🎉

[2021-12-07 02:20] #11 closed

[2021-12-07 11:30] AdamZaczek commented on #33
Looks like the progress reading across sessions is broken right now @ShMcK.
I will enable deleting old projects for you @moT01.
As for the 'restart the project' button, it's mostly ready. We're doing some infrastructure tests right now. We plan to finish it right after that.

[2021-12-07 11:31] AdamZaczek commented on #11
Awesome!

[2021-12-14 16:02] AdamZaczek commented on #30
The proper reset project button progress was stopped due to performance tests. I added a way to delete the containers through https://app.codeally.io/app/code so you can do properly do tests @moT01.

[2021-12-14 16:04] AdamZaczek commented on #30
We were working on the best way of handling this - a reset project button. It would delete the project and add the same one, so users that got stuck can start again.

The progress was stopped though due to performance tests. I added a way to delete the project through https://app.codeally.io/app/code so we give users a way to reset containers and so you can do properly do tests @moT01.

[2021-12-16 17:50] AdamZaczek commented on #26
It looks like something broke regarding the content security policy @ShMcK . I can no longer open coderoad easily because of that.
It did open but after waiting for a while.

We can probably make it failsafe by following the example in https://code.visualstudio.com/api/extension-guides/webview#content-security-policy:
![image](https://user-images.githubusercontent.com/14284341/146422922-51956d7c-5

[2021-12-16 18:29] moT01 commented on #30
Lookin good @AdamZaczek 🎉

[2021-12-16 18:29] #30 closed, assigned to nobody

[2021-12-16 18:30] moT01 opened #34 "CodeAlly dashboard doesn't update until hard refresh"
The https://app.codeally.io/app/code dashboard is working. I can delete projects, but the UI doesn't remove the project until a hard refresh. Not a huge deal, but it would be nice to update that on the fly.

[2021-12-17 11:46] AdamZaczek commented on #26
Strangely enough, this started working. Maybe it was some issue with using an older coderoad.

[2021-12-17 11:46] #26 closed, assigned to ShMcK

[2021-12-17 14:51] AdamZaczek commented on #33
Coderoad v0.17.2 does not read the progress correctly @ShMcK

Steps to reproduce:

1. Visit: https://codeally.io/embed/?repoUrl=https://github.com/freeCodeCamp/learn-git-by-building-an-sql-reference-object&envVariables=CODEROAD_WEBHOOK_TOKEN=ofiasjdflasjdflkajsd
2. Run code
3. Progress in the tutorial
![Screenshot 2021-12-17 at 15 37 16](https://user-images.githubusercontent.com/14284341/146562298

[2021-12-18 19:30] ShMcK commented on #33
@AdamZaczek I don't think the issue is CodeRoad related.

On launching a tutorial and completing the first lesson. It works (step 10.10)
![image](https://user-images.githubusercontent.com/4660659/146653261-367cd3c8-2ca7-4deb-af91-8ebbd319de89.png)

On relaunching a tutorial and completing the second lesson. It works (step 20.10).
![image](https://user-images.githubusercontent.com/4660659/146653299

[2021-12-20 15:50] AdamZaczek commented on #33
_- users are allowed one active container at a time? If I launch a new container while another one is open, the first container is shut down._
Yes
_- File changes in a container are preserved while the container is live, so I can reload the container and progress is up-to-date._
Yes
_- BUT when a container is rebuilt, the container might launch with an older set of file changes. This is why I see

[2021-12-23 04:14] ShMcK commented on #33
@AdamZaczek new container restarts should auto-start in v0.17.3.

The logic checked for local storage first, then fell back to the file.
I changed it to check the file first, then fallback to local storage.

[2021-12-27 14:23] AdamZaczek commented on #33
This doesn't work for us, no matter what we try @ShMcK.
Now it doesn't open the tutorial so we always have the state from the previously attached screenshot.

[2021-12-29 03:04] ShMcK commented on #33
@AdamZaczek

For the auto-launch to occur, it requires an existing history or a `CODEROAD_TUTORIAL_URL`.

When I open the link (https://codeally.io/embed/?repoUrl=https://github.com/freeCodeCamp/learn-git-by-building-an-sql-reference-object&envVariables=CODEROAD_WEBHOOK_TOKEN=ofiasjdflasjdflkajsd) it no longer includes the tutorial url variable. Do you know if that is a recent change?

To check fo

[2021-12-29 12:03] AdamZaczek commented on #33
We did some digging.
To recap:
1. When we add a completely new project from the link:
The CODEROAD_TUTORIAL_URL variable is there
Coderoad does not auto-launch.
Coderoad works after manually starting.

2. When we continue an existing new project from the link:
Some env variables, like CODEROAD_TUTORIAL_URL, are missing.
Coderoad does not auto-launch.
Coderoad does not work.

Auto launching is not

[2021-12-29 15:11] AdamZaczek commented on #33
Continuing tutorial works, thanks @ShMcK!

Now, it's only auto-launching that does not work yet.

[2021-12-30 15:06] AdamZaczek commented on #32
This is already working @moT01, thanks to Shawn pointing out a missing env variables issue when continuing an existing project.

Closing!

[2021-12-30 15:06] #32 closed, assigned to ShMcK

[2021-12-30 22:35] AdamZaczek commented on #31
Note to anyone working on this:
Running tutorial projects is significantly faster now. Part of that is because we no longer add our own extension.
We can make this work in two ways:
1. By making a compact extension for tutorials.
2. By making a pull request to coderoad.

[2021-12-31 04:58] ShMcK commented on #33
@AdamZaczek I believe I found the cause. The activation event expects "codeally.json", which doesn't match on "codeAlly.json". The filename seems to have changed.

![image](https://user-images.githubusercontent.com/4660659/147803043-6e2d8c80-7db9-4acf-b167-48dcf371c407.png)

![image](https://user-images.githubusercontent.com/4660659/147803030-2ae49d8e-ad90-491a-934a-37e46611f88f.png)

I tried chan

[2021-12-31 10:41] AdamZaczek commented on #33
Awesome! We need to go for "workspaceContains:/codeAlly.json".
Having "workspaceContains:/codeally.json" as an activation event as well will not hurt though!

[2021-12-31 10:43] AdamZaczek commented on #33
I made a pull request @ShMcK:
https://github.com/coderoad/coderoad-vscode/pull/556

[2021-12-31 22:01] ShMcK commented on #33
Should be resolved with the release of 0.17.4.

[2022-01-03 14:56] jaroszpiotr91 commented on #33
There is still issue with saving progress.
Despite having ```CODEROAD_SESSION_STORAGE_PATH=../../codeally/.local``` env set and files created properly there, refreshing the editor makes CodeRoad start from the beginning.
Moreover, after refresh it either stops working or behaves strangely until clicking the "Reset" button.

[2022-01-03 16:26] AdamZaczek commented on #33
It works for like a charm for me 🤔

We will double-check if this should be closed or not.

[2022-01-03 16:34] AdamZaczek commented on #33
I can confirm, something works really strange @ShMcK 🤔
It seems like Coderoad overrides the progress file.
Progress is there, I refresh the page, progress is gone. Screenshot:
![image](https://user-images.githubusercontent.com/14284341/147955427-d409148d-113e-4b63-9852-fa400d3f32c0.png)

To reproduce:
1. Run a tutorial https://codeally.io/embed/?repoUrl=https://github.com/freeCodeCamp/learn-git-by

[2022-01-03 17:48] moT01 commented on #33
Thanks for looking into this so hard everyone. I was off last week, so I'm still getting caught up. Let me know if you need anything.

[2022-01-03 18:04] moT01 commented on #21
While it's on my mind - I think the ideal experience would be to allow a language to be set with an env variable, with maybe a fallback to english or something. And also include a drop down with available languages so you can change it while in the middle of or after you start a tutorial.

[2022-01-04 03:18] ShMcK commented on #33
There's a line of logic that says "if a tutorial doesn't have an id, there is no tutorial". That tutorial does not have an id.

I can change that line to look for a tutorial version instead, I think that would be preferable.

[2022-01-04 03:34] ShMcK commented on #33
It should auto-launch now and preserve the content on refresh in v0.18.3.

I also added ".freeCodeCamp" to files that trigger auto-launching to make this work. Ideally these files should be in a variable, but I think it should be fine for now.

[2022-01-04 03:34] #33 closed, assigned to ShMcK

[2022-01-04 09:05] AdamZaczek commented on #33
Awesome, thanks @ShMcK !
We're adding a new coderoad to tutorials today.

[2022-01-04 09:06] AdamZaczek commented on #33
Awesome, thanks @ShMcK !
We're adding the new coderoad to tutorials today.

[2022-01-08 15:18] moT01 commented on #16
update: still not working in CodeAlly with CodeRoad 0.18.4 - no worries, low priority. Just an update as I'm testing.

[2022-01-08 15:27] moT01 commented on #31
update: the terminal starts out hidden (I think) on the latest product, which is great. But you need to open a terminal, and manually shut it down before it's updated. For example, I change the bashrc to generate logs, those logs don't take effect unless a new terminal is opened. So you have to open the hidden one, trash it, and open a new one. Not a big deal, just an update.

[2022-01-08 15:30] moT01 opened #35 "man pages are gone"
The `man` pages are gone. I use this command in many tutorials, e.g. `man echo`, quite frequently, to show users info about a command. So we need to add those back if possible. Screenshot:
![Screen Shot 2022-01-07 at 1 48 33 PM](https://user-images.githubusercontent.com/20648924/148650029-0b05c02e-46d2-4bc7-9d12-8efe54a9328c.png)

[2022-01-08 15:36] moT01 opened #36 "Run with CodeAlly button is way off to the left"
When loading up a tutorial, the `Run With CodeAlly` button is way off to the left...
![Screen Shot 2022-01-08 at 9 36 01 AM](https://user-images.githubusercontent.com/20648924/148650216-e8cc4cc0-6b8f-4545-95e6-8f9e60cef669.png)

Not a big problem, but maybe want to center it? Same on firefox and chrome

[2022-01-08 16:11] moT01 opened #37 "tutorial id not coming through on webhook request"
I did some tests to see if the webhooks were working. I couldn't get the tutorial id to come through with the request. My setup was to use ngrok as the webhook URL which forwarded to my fCC api locally.

Code in my api:
<img width="406" alt="Screen Shot 2022-01-08 at 9 39 53 AM" src="https://user-images.githubusercontent.com/20648924/148650400-41904701-0e13-43b5-b4bd-55ad957746e9.png">

 First att

[2022-01-08 16:17] moT01 opened #38 "CodeRoad doesn't always load up"
Once in a while, I would see this when CodeRoad loaded:
<img width="387" alt="Screen Shot 2022-01-08 at 10 12 20 AM" src="https://user-images.githubusercontent.com/20648924/148651375-7c49454d-e32c-4549-8c60-72f4bc28c635.png">

And it just stayed blank. Had to close and reopen CodeRoad to get it working. It was fairly rare. I saw it once when initially loading a tutorial, and a couple times when tr

[2022-01-08 16:41] moT01 opened #39 "Startup commands not running cause continuing a tutorial to not work"
Related to [this comment](https://github.com/coderoad/coderoad-vscode/issues/558#issuecomment-1005746018)

The startup commands often change things in the system. For example, postgres config files, bashrc commands - these are for generating logs - and other things like starting the postgres server. When closing a container and trying to continue a tutorial, the workspace files seem to remain, but

[2022-01-08 17:03] moT01 opened #40 "Remove firefox browser warning?"
When I open up a container with firefox, I get a warning that says "Your browser might not provide the best CodeAlly.io experience..."
![Screen Shot 2022-01-08 at 10 58 52 AM](https://user-images.githubusercontent.com/20648924/148652861-bf9d7e58-0a94-40ea-8ebe-c6222005358b.png)

This isn't a problem, I just wanted to point out that I primarily use firefox, but have used chrome quite a bit with Cod

[2022-01-08 18:24] moT01 commented on #4
Can move this over to the main freeCodeCamp repo

[2022-01-08 18:24] #4 closed

[2022-01-08 20:43] AdamZaczek commented on #40
We had a ton of issues with how Firefox handles WebSockets but it seems like they have been fixed. I will remove the warning and we will monitor possible errors.

[2022-01-08 20:43] #40 closed, assigned to nobody

[2022-01-08 21:04] AdamZaczek commented on #39
It's as you wrote @moT01. Only some folders are stored across docker sessions.
The more folders we store, the bigger the data usage. It could quickly go out of control with the amount of expected traffic.

We store folders such as
[code]
so they can be used for small stuff. Some packages, such as PostgreSQL-related ones, are hard to use in unusual destinations though.

Running commands that will s

[2022-01-08 21:05] AdamZaczek commented on #35
We're on it.

[2022-01-09 03:22] ShMcK commented on #39
I'll add a continue hook that will let you run any commands or vscodeCommands.

[code]

I'll also a webhook if needed to track continued tutorials.

[code]

PR: https://github.com/coderoad/coderoad-vscode/pull/561

Released in v0.19.0

[2022-01-09 03:29] ShMcK commented on #37
I've put a PR to log the webhook success/failure attempts along with the body.
It should help debug the issue.

https://github.com/coderoad/coderoad-vscode/pull/562

[2022-01-09 03:33] ShMcK commented on #37
@moT01 I think I found the issue, though I don't know the cause.

There is no `id` on the tutorial on CodeAlly.

You can see it for yourself by running `cat ../../codeally/.local/coderoad_tutorial.json`, which shows the tutorial data. There is no id.

[2022-01-09 03:34] ShMcK commented on #38
@moT01 If you see it again, can you capture and share the logs?

1. Open the terminal
2. Select "output"
3. Select "CodeRoad (Logs)" from the dropdown

[2022-01-09 04:34] ShMcK commented on #16
I can see this is not working properly in a lot of cases. I've added extra command line logs to help debug.
https://github.com/coderoad/coderoad-vscode/pull/563

[2022-01-09 04:41] ShMcK commented on #31
@moT01 you can also run the command `source ~/.bashrc` which is the equivalent of closing and re-opening the terminal.
https://devconnected.com/source-command-on-linux-explained/

[2022-01-09 14:55] moT01 commented on #31
Thanks for the tip @ShMcK. I've tried that before and I'm pretty sure it previously didn't work because the terminal was already open and that command ran in a sub process or whatever and not the open terminal. But, it may work now that the terminal is closed or hidden by default. I'll give it another try. 👍

[2022-01-09 16:18] moT01 commented on #36
👍

[2022-01-09 16:18] #36 closed, assigned to nobody

[2022-01-09 16:35] moT01 commented on #31
Another test shows that the bashrc is working as intended. You don't need to close the terminal and start a new one. The terminal is closed by default, and when a user opens a new one, the bashrc is used. The first command just doesn't run the tests automatically because the bash_history file isn't created yet. So they run the first command, which creates the bash_history file - I have CodeRoad se

[2022-01-09 17:50] AdamZaczek commented on #37
Does this mean this is something to look at on our side @ShMcK ?
I'm not aware when do we get those ids if so.

[2022-01-09 18:00] AdamZaczek commented on #16
An update that might help @ShMcK prioritize - we are 80% done with adding our own way to reset the entire tutorial.
It's as Quincy said - once something goes badly, it goes very very badly. We want to give users a way to reset to a clean state.

[2022-01-09 18:33] moT01 commented on #16
Nice @AdamZaczek - I was unaware that was in the works. It will make it easier. Probably something CodeRoad wants to have on their side as well in case the extension is running somewhere else. Although, it's not necessary for either of them to work right away. With the CodeAlly dashboard, users can start over by deleting their container there, which I will have to explain in some sort of FAQ or so

[2022-01-09 20:00] moT01 opened #41 "Bottom of terminal is cut off"
Pretty minor, but the bottom of the terminal is a little cut off...
![Screen Shot 2022-01-09 at 1 57 14 PM](https://user-images.githubusercontent.com/20648924/148698482-d983c1c1-5378-451c-8cc7-bbad3abe59c0.png)

Pretty sure it didn't used to do that. Any characters that hang below the baseline or whatever get a little cut off. The `g` from `git status` in the image, for example. It doesn't need to

[2022-01-09 20:53] ShMcK commented on #16
In that case, would we hide the "reset" button in the tutorial?

[2022-01-09 20:55] ShMcK commented on #37
@moT01 just add an id like "fcc/learn-celestial-bodies-database' as an id manually, that should work for now. Then run build.

For example, here: https://github.com/freeCodeCamp/learn-celestial-bodies-database/blob/main/coderoad.yaml

I don't have a way to generate ids at this time.

[2022-01-09 21:01] moT01 commented on #37
Would that be just another field in the main config there? ...
[code]

[2022-01-09 21:04] moT01 commented on #16
You can hide it if you want @ShMcK. Probably not a bad idea since it doesn't seem to be working quite right at the moment - last I tried anyway.

[2022-01-09 21:21] ShMcK commented on #31
Some observations:

The bash history exists on startup. But on startup, the commands are not logging to the bash history.
![image](https://user-images.githubusercontent.com/4660659/148701208-a7eb2b44-2ead-452f-bed9-66ba719fd179.png)

On reloading the terminal, it works as expected and shows it has been logging to the bash history the whole time. It passes on "echo hello git".
![image](https://user

[2022-01-09 21:26] ShMcK commented on #16
To remove the reset button, add the following env:

[code]

[2022-01-09 22:35] moT01 commented on #37
This works @ShMcK. I added the id to the top level of the yaml:
![Screen Shot 2022-01-09 at 4 30 09 PM](https://user-images.githubusercontent.com/20648924/148703747-5f2ce0e3-59a8-47b3-afec-1950cb4dcea7.png)

The CLI tools give me an error:
![Screen Shot 2022-01-09 at 4 31 24 PM](https://user-images.githubusercontent.com/20648924/148703788-448efc8b-b448-4631-88ed-59dcb24713aa.png)

I bypassed that

[2022-01-09 22:44] ShMcK commented on #37
Great, I'll look into the issue with the CLI and ids

[2022-01-09 23:22] AdamZaczek commented on #41
Good catch. I was working on making it easier to code on mobile devices. I missed the terminal problem.

Side note: We will try to make the mobile experience significantly better by closing the additional empty editor window.

[2022-01-10 11:57] AdamZaczek commented on #35
[code]
fixes the issue temporarily but takes some time. We're building a new docker image to have the man command enabled by default.

[2022-01-10 13:55] AdamZaczek commented on #41
Is this still the case for you? And did it occur on mobile?

I've been debugging this and turns out, some mobile browsers, like Samsung Galaxy 9+'s, have responsive imperfections.
For example, the bottom bar disappears on some mobile devices. It's super inconsistent and I think, we should leave it as is for now.

I was not able to see any issues on PCs. If you have some, a screenshot with more are

[2022-01-10 13:58] moT01 commented on #41
Yea, It's fine for now @AdamZaczek. I'll get you another screen shot next time I load it up.

[2022-01-10 18:39] moT01 commented on #41
![Screen Shot 2022-01-10 at 12 34 50 PM](https://user-images.githubusercontent.com/20648924/148820189-ac6f239a-9c0f-4101-8052-588a7a470f25.png)

It's very usable, but would be nice to see the whole characters. One specific character that's rough, is the underscore (`_`). I use it in the SQL tutorials frequently for database and table names, etc. You can just barely see the top of it.

Image is on

[2022-01-10 19:13] AdamZaczek commented on #41
Nice, that's exactly the behavior we discovered on some mobile devices. This means we can test some possible fixes.

[2022-01-10 20:43] AdamZaczek commented on #41
I made a hopefully temporary but probably working fix. You can now scroll to the bottom but the terminal and bottom panels are visible regardless of the device. The downside is that we have this ugly white space on some devices.
![image](https://user-images.githubusercontent.com/14284341/148836719-e25b3bb5-d35c-464c-bada-1bca39105729.png)

Let me know if you still see the issue!

[2022-01-12 03:16] moT01 commented on #38
coderoad v0.18.4
[code]

[2022-01-13 11:33] AdamZaczek commented on #35
The man command is now available @moT01
![image](https://user-images.githubusercontent.com/14284341/149322888-9bfebd97-b133-4939-b176-b8891eec11ca.png)

[2022-01-13 11:34] #35 closed, assigned to AdamZaczek

[2022-01-13 15:48] AdamZaczek commented on #37
Let me know once this is fixed. We will update the coderoad to the newest version so this issue and https://github.com/freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp/issues/39 can be closed.

[2022-01-13 15:49] AdamZaczek commented on #37
Let me know once this is fixed. We will update the coderoad in tutorials to the newest version so we can close this issue and #39.

[2022-01-13 17:53] ShMcK commented on #37
@moT01 if you can publish the tutorials with ids, that should be sufficient for now.

[2022-01-13 18:34] moT01 commented on #37
Yes, I plan to add the id's to all the tutorials - and that worked in my testing. I am holding off on it for now because it's not support by the CLI tools yet (as of 4 days ago). So I would have to remove them before running `coderoad build`, then re-add them. I don't mind manually adding them. Was just going to do that last - or close to last.

[2022-01-14 04:36] ShMcK commented on #37
Tutorial ids should be included in the cli build with `@coderoad/cli v0.9.1`. Let me know if there's any issue!

[2022-01-24 04:23] moT01 commented on #39
This is workin real good. I added continue commands to all the tutorials.

[2022-01-24 04:23] #39 closed, assigned to ShMcK

[2022-01-24 04:25] moT01 commented on #37
I added the id's to all the tutorials. Still a little curious why they weren't being sent with the request on CodeAlly, but were locally. Doesn't matter, this should work.

[2022-01-24 04:25] #37 closed, assigned to ShMcK

[2022-01-24 04:26] moT01 commented on #31
I added the bash_history before the tutorial starts, so the command works right away.

[2022-01-24 04:26] #31 closed, assigned to nobody

[2022-03-22 09:30] raisedadead opened #42 "CodeAlly not available to Users when third-party cookies are disabled."
## Affected page

All pages that use CodeAlly

## To reproduce

Steps to reproduce the behavior:

1. Open an incognito Window
2. Go to [a challenge page](https://www.freecodecamp.dev/learn/relational-database/learn-bash-by-building-a-boilerplate/build-a-boilerplate)
3. Click on 'Click here to start the course'
4. See error.

## Expected behavior

A better UX

## Screenshots

<img width="1012" alt=

[2022-03-23 14:51] moT01 opened #43 "Step doesn't always load correctly"
Not sure why, but this step frequently doesn't load correctly. Other steps don't typically have this issue. Strange.

![Screen Shot 2022-03-23 at 9 47 48 AM](https://user-images.githubusercontent.com/20648924/159726944-20451091-6230-47bb-9690-9a5b378c24c0.png)

Any thoughts @ShMcK?

[2022-03-23 15:42] ShMcK commented on #43
It looks like a possible merge conflict when the step loads.

Any idea of the content changes for the step?

[2022-03-23 15:51] moT01 commented on #42
I'm not sure what the solution is here. You need to be logged in to github so you can log in to CodeAlly to run these - so an incognito window won't work. Looks like there's a few seemingly hacky ways to detect that - I didn't look into it much yet, but we could show a pop-up if someone tries to start a course using incognito. Or we could just add a note on the main page - maybe "You cannot run th

[2022-03-23 16:05] moT01 commented on #43
It's these three commits - [670](https://github.com/freeCodeCamp/learn-relational-databases-by-building-a-mario-database/commit/7e7a83fd9933c7a285616efb2cc255969fbb73d8), [680](https://github.com/freeCodeCamp/learn-relational-databases-by-building-a-mario-database/commit/de0e90ca98ef866511e2ad00fb66f81562187435), and [690](https://github.com/freeCodeCamp/learn-relational-databases-by-building-a-ma

[2022-03-26 13:36] moT01 opened #44 "iframe shifts left leaving a blank space"
Once in a while, the whole iframe shifts to the left, leaving a white space on the right...
![Screen Shot 2022-03-26 at 8 27 01 AM](https://user-images.githubusercontent.com/20648924/160241806-7756e2da-bed7-4250-ada4-682ed8eb3ada.png)

I think it may only happen when I have the preview button collapsed, but I'm not sure. I haven't seen it happen when it's expanded, but I've only seen it twice. I d

[2022-03-26 16:35] moT01 commented on #43
yea, for some reason this particular step has been problematic with this issue. I tried to reproduce it three more times, couldn't get the problem to happen. Some more details on the result of the problem - it seems to end up loading the 690 commit after the failed attempt, and then deletes the 680 commit or something cause the 680 file says 'D' for deleted, and the 670 commit is no longer comment

[2022-03-28 10:10] AdamZaczek commented on #42
We can see that many users try this so this one will be fixed asap. I agree with Tom's suggestions. We need to add information that you need to have local storage enabled though because CodeAlly does not work in incognito anyways.
We will check if it's available by checking if we can write into it.

[2022-03-28 10:11] AdamZaczek commented on #44
Woah, crazy. We'll take a look.

[2022-03-29 21:30] moT01 commented on #44
I noticed there seems to be conflicting hotkeys. CodeRoad uses `ctrl+enter` to run tests or move to a new lesson. When I have the preview tab focused, it opens and closes the preview tab. I don't think the conflicting hotkeys is a problem - it may have something to do with the iframe shifting though.

[2022-03-31 03:30] moT01 opened #45 "Containers get a little buggy or something"
A number of reports came in about problems with a tutorial. [Here's the first](https://forum.freecodecamp.org/t/running-the-relational-database-curriculum-in-your-browser/500231/34). In that image, the `.freeCodeCamp` and `.vscode` folders are empty, there's supposed to be a bunch of files in there - they get loaded by CodeRoad when the tutorial starts. So the files were there when that user start

[2022-03-31 04:29] ShMcK commented on #43
@moT01 I was looking into this one tonight, but it seems you may have already found a solution: https://forum.freecodecamp.org/t/bug-in-building-a-mario-database/493206/30

Did you figure out the cause?

[2022-03-31 12:57] moT01 commented on #43
I didn't figure out any more of a cause than is explained above. The cherry-pick gets a conflict - and the result is that the commit before it gets dropped or something. So I end up with two test files running on one step, making it impossible to pass since they ask for conflicting things.

I'm not 100% sure my solution is really a solution or not - I am having a hard time reproducing the problem

[2022-03-31 18:23] raisedadead commented on #42
I think I know what is happening here. I have had third-party cookies disabled in incognito mode. This is the default OOTB behavior of Chrome when in incognito.

Meaning the onus comes on us check if TP cookies are disabled and show an error page.

[2022-03-31 18:30] raisedadead commented on #42
You can replicate the error by doing these:

1. Visit: chrome://settings/cookies
2. Disable TP Cookies.
3. Visit the challenge page & click start course.

Beyond that (i.e, when TP cookies are allowed) you should see the CodeAlly button normally. So this is not even a GitHub thing at all.

I enabled TP cookies for incognito and got to the GitHub screen like I should have in the first place:

<deta

[2022-04-06 14:50] moT01 commented on #45
A [couple more instances](https://forum.freecodecamp.org/t/rdbm-course-stuck-at-mario-dbs-last-challenge/503211) the last few days.

[2022-04-06 18:55] AdamZaczek commented on #45
It's good that we have timing for those. We had a bug where some of the containers remained open for too long and it could cause problems like this. This is likely to stop happening now. Let me know if users still experience this.

[2022-04-11 19:05] moT01 commented on #42
There has been a flurry of this issue lately. We discussed it internally a little bit. Part of the conversation went something like this...

"we could attach the session info to each request as an Authorization header, rather than a cookie."
"Are you suggesting that we ask CodeAlly to change the way they auth users on their own platform?"
"I don't think it's reasonable to ask them to put in tons o

[2022-04-12 14:43] AdamZaczek commented on #42
Changing a login system is too much.

I had the same idea as you did but on our end and I wanted to give it a shot this week.

I think about catching localStorage access denial and displaying a message if it's not supported. I'm thinking to do this at the CodeAlly level, we can be sure that we catch the issue and display a message only if that's happening.

If it can't be accessed, we will let use

[2022-04-12 15:12] moT01 commented on #42
Does this sound like a valid approach @freeCodeCamp/dev-team? So CodeAlly checks for localStorage access - and if it doesn't work, users get a message. So if a user is running CodeAlly in the iframe and has third party cookies blocked, CodeAlly wouldn't be able to use local storage - is that what would happen there?

Will we be able to embed using that domain to test it out @AdamZaczek? Using a UR

[2022-04-12 15:16] naomi-lgbt commented on #42
This sounds like an excellent approach to me.

[2022-04-12 16:46] ShaunSHamilton commented on #42
Will we need to enable something like `allow-storage-access-by-user-activation` for this test?

[2022-04-12 17:18] ArielLeslie commented on #38
I'm having this problem consistently on Firefox (for Mac) with adblock off an no additional security.  I needed to close CodeRoad and run `CodeRoad:start` about 4 times before anything happened. During the attempts that didn't work, there was no coderoad log activity except the initial
[code]

[2022-04-15 10:00] AdamZaczek opened #46 "Webpack deploys + caching old html in iframes = crash"
**Describe the bug**
Embedded CodeAlly is loaded with a cached version. Webpack generates new chunk names on each deployment.
Because of this, cached HTML might be pointing to non-existent chunk names after a deployment which causes a website crash.

This problem is occurring when someone with a previously loaded CodeAlly, visits a page again after deployment.

Potential fixes:
1. Making chunk nam

[2022-04-15 23:00] AdamZaczek commented on #42
One set of changes (1) is ready to be tested.
The other requires a tweak on Freecodecamp's side.

@ShaunSHamilton
[code]
is made to solve our exact issue but it's non-standard and not widely supported according to https://caniuse.com/mdn-html_elements_iframe_sandbox-allow-storage-access-by-user-activation. I figured out a way that should work everywhere.

### 1. Issues with 3rd party localStorage,

[2022-04-20 15:35] moT01 commented on #42
This is looking good @AdamZaczek - I think anyway...

I'm not quite sure what I need to do on my end to get brave working. After I log in to CodeAlly, I get redirected back to `https://www.freecodecamp.org/learn/relational-database/learn-bash-by-building-a-boilerplate/build-a-boilerplate` or whatever page I was on - so you're saying that will include a query parameter? maybe `tempToken=<token-stri

[2022-04-20 21:50] AdamZaczek commented on #42
@moT01 We pass a token for you. If you log in at
[code]
you will see that you will come back with tempToken in query params.
We need this param in iframes src to share sessions. I would store it in localStorage and pass it to iframe.

Let's have a chat to make sure you have all the info you need.

[2022-04-22 14:08] moT01 commented on #42
Tested as much as I could before the meeting - here's what I saw:

| URL:                 | teal-sunburst-97d62b.netlify.app | teal-sunburst-97d62b.netlify.app                                                                                             | teal-sunburst-97d62b.netlify.app/passing-temp-token | teal-sunburst-97d62b.netlify.app/passing-temp-token |
|----------------------|--------------

[2022-04-22 14:51] AdamZaczek commented on #42
Here's our todo list:
1. Pass the tempToken to the iframe, just like we pass envVariables. Example https://teal-sunburst-97d62b.netlify.app/passing-temp-token/
2. Add a new Date.getMinutes() or similar to the iframe to fix https://github.com/freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp/issues/46
3. Decide if we want any changes in the message shown when localStorage is disabled https://user-images.

[2022-04-29 19:25] moT01 commented on #45
Looks like whatever you did worked @AdamZaczek 👍 Haven't seen any reports like this in a while.

[2022-04-29 19:25] #45 closed, assigned to nobody

[2022-05-23 16:14] moT01 commented on #42
Hey @AdamZaczek - mind taking a quick look at that PR? I think it's what we wanted. I am getting the `tempToken` and passing it in, and I added a `Date.now()` to fix those webpack caching issues.

[2022-05-24 20:58] moT01 commented on #43
I ended up converting all the tutorials to the new structure and haven't seen any issues around this for some time. I think we're in the clear for these tutorials - although CodeRoad may want to change it so those failed cherry picks are handled differently or something. Not quite sure if there's an issue there, or maybe it's just how git behaves.

[2022-05-24 20:58] #43 closed, assigned to nobody

[2022-05-24 21:00] moT01 commented on #29
I'm going to close this. I think the process is quite smooth - we can create new issues if there's something specific we still want to improve.

[2022-05-24 21:00] #29 closed, assigned to nobody

[2022-05-24 21:10] moT01 commented on #12
I am going to close this as stale. With how far we've come with the integration - users can get back to where they were quite quickly. I don't think I've seen any issues around this on the forum and I don't think it's necessary for now.

[2022-05-24 21:10] #12 closed

[2022-05-26 13:19] AdamZaczek commented on #42
Looks good! I'm 95% sure we didn't miss anything. We had to deploy a few weeks ago due to Netlify no longer working for us (when you saw some crashes for a few hours) so the changes are online on our end.

Let me know when you deploy and let's test this!

[2022-05-26 16:26] moT01 commented on #42
PR's have been merged - will be live on next deploy 🎉

[2022-05-26 16:26] #42 closed, assigned to AdamZaczek, moT01

[2022-05-26 22:21] AdamZaczek commented on #42
Works!
Note - I still see some issues with Brave - we don't correctly get the goBackTo there but it looks like it's the only browsers when things don't work as planned just yet.

Caching is still an issue for returning users. We'll try to fix this for good. For now - visiting codeally directly a few times fixes it.

Glad to have this live!

[2022-05-27 11:00] raisedadead commented on #42
Sorry, @AdamZaczek - I think we confused you accidentally. We merged the PR (last evening, my time) and deployed it just now (as of this comment, it's all in production).

Cheers and thanks again for your excellent collab on this.

[2022-05-30 16:00] moT01 opened #47 "Many users are stuck on last step of loading the environment"
I am not having any issues, but there's been a number of reports recently from users who are stuck on the last step of loading their VM's. Here's [one with a screen shot](https://forum.freecodecamp.org/t/stuck-on-the-last-step-of-loading-remote-environment/512927)

More:
https://forum.freecodecamp.org/t/relational-database-stuck-on-loading-starting-virtual-server/512731
https://forum.freecodecamp.

[2022-05-30 17:29] AdamZaczek commented on #47
This is an issue on our end. We're fixing it.

[2022-05-30 17:34] AdamZaczek commented on #47
Ok, should work now.

Note: There were issues 8+ hours ago and just now. We're almost done making an instant report mechanism so we can react in minutes if an unexpected issue occurs.

Let me know if you still see any issues!

[2022-05-30 19:21] moT01 commented on #47
Awesome, thanks for the quick response @AdamZaczek 🎉

[2022-05-30 19:21] #47 closed, assigned to nobody

[2022-05-30 19:21] moT01 commented on #47
User:
![Screen Shot 2022-05-30 at 2 21 21 PM](https://user-images.githubusercontent.com/20648924/171050119-c57898a5-11a0-418e-ace7-e95f8b5f4f5a.png)

[2022-06-08 19:02] moT01 opened #48 "[deleted]"
[deleted]

[2022-06-18 00:43] AdamZaczek commented on #48
Sorry for the super late response!
I already deleted this user's account a few days ago.
User deletion is in the roadmap but we only ever had 3 requests. I will bump its priority though.

All developers log in via Github. Embeds use the same login mechanism. They just redirect to the editor app - app.codeally.

Sometimes the communication is not perfect yet which is why you had problems.
You were

[2022-06-18 00:44] AdamZaczek commented on #48
Sorry for the super late response!
I already deleted this user's account a few days ago.
User deletion is ok the roadmap but we only ever had 3 requests. I will bump its priority though.

All developers log in via Github. Embeds use the same login mechanism. They just redirect to the editor app - app.codeally.

Sometimes the communication is not perfect yet which is why you had problems.
You were

[2022-06-23 14:20] moT01 opened #49 "Issue loading CodeRoad: "Could not register service workers""
A few reports have come in with a specific error when trying to load CodeRoad: "Error loading webview: Error: Could not register service workers: SecurityError: The operation is insecure…"

[Post 1](https://forum.freecodecamp.org/t/coderoad-not-loading-in-window/515581/2)
[Post 2](https://forum.freecodecamp.org/t/webview-error-operation-is-insecure/520592/3)

My initial thought is that it's some b

[2022-06-23 17:04] AdamZaczek commented on #49
It's probably a Firefox bug.
I imagine this started occurring when we fixed some of the localStorage issues. It's likely that this issue awaited behind the ones we fixed.

[2022-06-28 15:51] moT01 commented on #38
Bumping this. The problem persists - it's intermittent, sometimes it works, sometimes not. There may be two issues around this, not sure. CodeRoad sometimes doesn't load at all, and sometimes when it loads, the instruction stay blank like in the screen shot above.

It comes up on the forum quite a bit so it would be awesome if we could get this working consistently. I will try to dig in a little w

[2022-06-28 16:24] AdamZaczek commented on #46
We're almost there!
We have a test environment [link]( https://teal-sunburst-97d62b.netlify.app/) with a different domain but it still does not replicate Freecodecamp's one perfectly.

Test environment does not cache CodeAlly at all anymore!
When visiting freecodecamp.org, the cache still applies for the first render. It means a recurring user has to visit and than refresh the page for the cache t

[2022-06-29 12:42] AdamZaczek commented on #49
PS I just checked the link here https://forum.freecodecamp.org/t/coderoad-not-loading-in-window/515581/4 and noticed that completed challenges don't transfer.
Do you know why that might be the case @ShMcK ?
Could it be a lack of some env variable?

[2022-06-29 15:22] moT01 commented on #48
Adding this for reference - from one of our contributors on discord regarding GDPR compliance:

[code]

[2022-06-30 15:00] #48 closed, assigned to nobody

[2022-07-01 13:24] #46 closed, assigned to nobody

[2022-07-01 13:30] moT01 commented on #46
I added the suggestion - it probably won't be live until next week. I believe that should close this issue - let me know if I missed something.

[2022-07-01 15:15] AdamZaczek commented on #46
Awesome, ok

[2022-08-03 16:32] AdamZaczek commented on #38
We checked env vatiables. This are example ones I had when Coderoad did not start:
SHELL=/bin/bash
CODEALLY_INIT_COMMAND=exit
NVM_RC_VERSION=
COLORTERM=truecolor
TERM_PROGRAM_VERSION=1.57.1
CODEROAD_CONTENT_SECURITY_POLICY_EXEMPTIONS=sha256-O6s4HZqHNjMzg0UZUFHy0YEAlG05lWCXf0lBN+GmShk=
HOSTNAME=30473cc2c8a5
CODEALLY_PORT_4000=https://20412.vm-68a8g022ab6e066952c13ead7.silisky.com/
NODE_OPTIONS=--ma

[2022-08-03 19:05] moT01 commented on #38
Thanks for taking a look @AdamZaczek. I didn't know an extension could launch itself, I thought you might be telling it to launch or something - which is why I thought you might be able to help here. But I do think it's all on the CodeRoad side now - there might be some things I can do in the tutorial repos to help, as well. I will take a look.

[2022-08-04 03:49] ShMcK commented on #38
The launching of CodeRoad is triggered by an "activation event". See the [activation event docs](https://code.visualstudio.com/api/references/activation-events).

Here's the code in the package.json of CodeRoad
[code]

 For a summary:
- `codeally.json` is intended to trigger a launch on startup and is added by CodeAlly.
- `.freeCodeCamp` is intended to exist when a project is being continued and i

[2022-08-04 15:20] AdamZaczek commented on #38
It does. In fact, I just remembered about the activation events in the morning and wanted to write a similar analysis. Then I saw your message :D

This bug is sneaky. I was thinking about a fix.
How about, we modify the extension, to always auto launch in CodeAlly?

I remember discussing this briefly a while ago. We would have a "fork", with the activation events modified.
We can override the pack

[2022-08-04 15:26] AdamZaczek commented on #38
Unless there's an bug for wildcard activationEvents, we can have this fixed even tomorrow, @ShMcK @moT01 .

[2022-08-04 15:26] AdamZaczek commented on #38
Unless there's an bug for wildcard activationEvents, we can have this fixed even tomorrow, @ShMcK @moT01 .

[2022-08-08 11:58] ShaunSHamilton opened #50 "CodeAlly VM Startup Freezes"
**Describe the bug**
Multiple users and freeCodeCamp Team have been unable to start any of the Relational Database projects.

CodeAlly appears to get stuck at the _Starting virtual server_ step. Refreshing does not resolve the issue.

Personally, I only tried 2 projects, and only waited ~10min for one, and ~5 min for the other.

![image](https://user-images.githubusercontent.com/51722130/183412453

[2022-08-09 20:58] moT01 commented on #50
I'm quite sure this is resolved. Everyone seems to be able to load containers again, let me know if there are still issue.

[2022-08-09 21:01] moT01 commented on #38
I presume you added this @AdamZaczek? I'm seeing a lot more reliability when loading.

[2022-08-09 21:35] AdamZaczek commented on #38
Actually, I did not!
@AceSpadeAble did make a ton of API improvements, and it's possible, that the race condition that was probably the cause, is happening a lot less as a result.

We need to implement a fix anyways just because we know that otherwise, the issue might pop up anytime.
I'm glad the issue is a lot less severe in the meantime!

[2022-08-09 22:19] moT01 commented on #38
So, the secondary issue here is that CodeRoad doesn't always load the course - even if it loads. Here's a few things I see...

On an initial load of a container (haven't started course):
[code]

Have started the course and completed a few steps - didn't manually open CodeRoad for some time, so the container files should have been loaded:
![Screen Shot 2022-08-09 at 5 09 17 PM](https://user-images.

[2022-08-09 23:20] AdamZaczek commented on #38
This is probably it! We'll check why the files are missing in some cases. Thanks, @moT01

[2022-08-10 01:08] moT01 commented on #38
But the file is there in the screen shot. That's me starting a tutorial I'm in the middle of - CodeRoad did not load itself, I waited a moment, checked for that file in the terminal (it was there), then manually started CodeRoad - and it didn't load the course. It just kind of hung there. For some reason, it's not running that startup function.

For a little more context, that file doesn't exist t

[2022-08-10 02:56] ShMcK commented on #38
@moT01 if you can reproduce the problem outside of CodeAlly, please let me know.

@AdamZaczek I'm happy to change the package.json file if it helps, that may be simpler than injecting over over-writing the file - which perhaps might lead to another race condition. If the target activation files have changed, we can update the package.json to reflect that.

[2022-08-11 03:06] arqamgrt opened #55 "Accessibility issue in Relational Databases Certification"
Hello Campers. Hope you’re doing well.
I’m Facing an issue in Relational Databases Certification (online).
There is no output spoken by screen readers in the terminal of vs code. I know, I can use it locally. I actually did it. But in the PostGreSQL Course, I was stuck on first step. I don’t know why, but it was failing the test. Same steps I tried online, and it was successful. But again, in onli

[2022-08-11 04:41] bbsmooth commented on #55
@arqamgrt I have not looked at this course yet but I will be happy to give it a try. Can you give us some more details about exactly where you are having problems. Since I have no experience with this course, please be as specific as possible. Also, what operating system, browser, and screen reader are you using?

[2022-08-11 06:21] ShaunSHamilton commented on #55
Hello there,

Thank you for taking the time to open this. Unfortunately, we have no control over the VM serving the VSCode-style editor. I will ping @moT01 as we might need to transfer this issue to CodeAlly?

[2022-08-11 16:11] arqamgrt commented on #55
Well, I'm using Windows 10 21H2. with chrome browser and NVDA screen reader.
if you talk about online mode, the only problem is that I can't hear the output of anything on terminal.

[2022-08-14 20:04] Samrat223 commented on #50
Issue is still there

[2022-08-14 20:10] Samrat223 opened #51 "CodeAlly issue"
Multiple users and freeCodeCamp Team have been unable to start any of the Relational Database projects.

CodeAlly appears to get stuck at the Starting virtual server step. Refreshing does not resolve the issue.

Personally, I only tried 2 projects, and only waited ~30min for one, and ~10 min for the other.

![image](https://user-images.githubusercontent.com/79866966/184553216-16ddfaf7-c057-41a8-b6

[2022-08-14 21:18] Lagiacrus96 commented on #50
It seems as if the issue has sprung up again. Was able to work on exercises earlier today (around 7 hours ago), but now it's getting stuck on the starting virtual server step.

[2022-08-14 21:21] Samrat223 commented on #50
@moT01 please can you look into the issue.

[2022-08-15 03:41] jameshsiung15 commented on #50
Hi There,

"starting virtual server" is unable to complete. I was wondering whether this any solution to fix it. Many thanks!

[2022-08-15 05:10] noahbcp commented on #50
Running into this same issue.

[2022-08-15 09:38] Jonocmore commented on #50
Also running into this same issue.

[2022-08-15 10:15] mBilG commented on #50
Same issue.. Everything was working yesterday..
Codeally dashboard also seems to have deleted previous completed projects..

[2022-08-15 10:35] pablo278294 commented on #50
I have the same issue too!! So the problem is from codeAlly and we can't do nothing and they will fix it as soon as possible, doesn't it?

[2022-08-15 11:01] Khonani14 commented on #50
I currently have the same issue.

[2022-08-15 12:32] moT01 commented on #50
Thanks for reporting everyone. I am seeing the issue again as well.

[2022-08-15 13:08] AdamZaczek commented on #51
Thank you for reporting @Samrat223 ! We're investigating this

[2022-08-15 14:07] AdamZaczek commented on #51
The issue should be fixed, thanks to your report @Samrat223 . Let me know if it works for you!

[2022-08-15 15:25] moT01 commented on #51
This should be fixed @Samrat223, want to give it another try? I am going to close this. Let us know if you are still having issues and we can reopen it. Thanks and happy coding 🎉

FYI - it shouldn't take more than a minute or so to load the container. If it takes any longer, it likely won't work and you should let us know here or on the forum. I updated the forum post to mention this so people hop

[2022-08-15 15:25] #51 closed, assigned to nobody

[2022-08-15 15:26] moT01 commented on #50
The issue should be resolved and you should be able to run the courses again. If anyone is still having issues, let us know. Thanks and happy coding 🎉

[2022-08-16 15:59] texas2010 opened #56 "CodeAlly CodeRoad Font Size"
### Describe the Issue

I feel the font size is too small for me in each lesson and I can't change it in the CodeAlly CodeRoad.  this part needs to allow us to change font size when we need to do.

### Affected Page

https://www.freecodecamp.org/learn/relational-database/learn-bash-by-building-a-boilerplate/build-a-boilerplate

### Steps to Reproduce

1. Go to '...'
2. Click on '...'
3. Scroll dow

[2022-08-17 16:26] moT01 commented on #56
What specifically is too small @texas2010?

It looks maybe a little small to me:
![Screen Shot 2022-08-17 at 11 21 10 AM](https://user-images.githubusercontent.com/20648924/185191814-50f4bd38-5b69-4841-97bb-9b1e110f1716.png)

Although, not much smaller than the default size in that getting started tab. You can zoom the browser in for now if you want it bigger.

[2022-08-18 17:11] CarolMurphy commented on #50
It's back!!!!!!!!!!!

[2022-08-19 00:43] moT01 commented on #50
Are you still seeing this @CarolMurphy? I was able to load up without issue.

[2022-08-19 01:54] CarolMurphy commented on #50
I got back on after an hour or two. Is it too much traffic, or are they doing upgrades to their server?

Sent from Mail for Windows

From: Tom
Sent: Thursday, August 18, 2022 5:44 PM
To: freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp
Cc: Carol Murphy; Mention
Subject: Re: [freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp] CodeAlly VM StartupFreezes (Issue #50)

Are you still seeing this @CarolMurphy? I wa

[2022-08-19 11:13] AdamZaczek commented on #50
I believe you were simply unlucky @CarolMurphy. There's an edge case we're still fixing that is fixed simply by running a container again.

Let me know if the issue persists!

[2022-08-19 11:27] AdamZaczek commented on #38
The issue is fixed for new projects @ShMcK @moT01  🚀

We were digging into the possible issue for a little bit but it's hard to figure out a non-hacky solution so we used an activationEvents wildcard.

If you open a project you have not opened before, it will load up consistently.
![image](https://user-images.githubusercontent.com/14284341/185608532-cae42c7e-9d3c-459a-b28a-fa6b9947d75d.png)

[2022-08-19 14:17] CarolMurphy commented on #50
Will do! Thanks!

Sent from Mail for Windows

From: Adam Żaczek
Sent: Friday, August 19, 2022 4:13 AM
To: freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp
Cc: Carol Murphy; Mention
Subject: Re: [freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp] CodeAlly VM StartupFreezes (Issue #50)

I believe you were simply unlucky @CarolMurphy. There's an edge case we're still fixing that is fixed simply by running a con

[2022-08-19 15:23] moT01 commented on #38
Awesome @AdamZaczek 🎉 Nice work 👍 CodeRoad loads up automatically every time now.

The secondary issue persists here, though - the course sometimes still doesn't load. This will likely have to be fixed on the CodeRoad side.

[2022-08-23 12:05] AdamZaczek commented on #38
My observation was that Coderoad loads the files correctly if it's opened later, for example from the command line.
Did you observe the same behavior @moT01?
If this is the case, waiting a moment if the files fail to load, might do it. I wish I had a more educated fix suggestion.

@ShMcK What I would check, is if you can open the course files after a timeout if the first attempt fails and repeat u

[2022-08-23 14:57] moT01 commented on #55
Thanks for reporting @arqamgrt, sorry for the delay here. I was sort of able to reproduce this with voiceover on mac. It reads output from the actual terminal, but not the terminal in VS Code - both locally and in CodeAlly. So when you use the terminal in your local VS Code, it reads the output for you? If so, do you know why I am not getting that? Maybe some extension or program you have, or mayb

[2022-08-23 16:14] arqamgrt commented on #55
@moT01 Are you trying on Windows? or mac. If you want to try it on windows, then use NVDA for this.
but in local, I have a problem. in the PostGreSQL course, first step is not working in local. same step if working fine in code ally.

[2022-08-23 16:34] moT01 commented on #55
Right, I will look into that @arqamgrt. I am on a mac.

So, to clarify, do you get the terminal output read when using the terminal in VS Code anywhere? I'm trying to figure out if it's something with VS Code or CodeAlly.

[2022-08-23 17:02] arqamgrt commented on #55
no no, I know this. vs code is completely fine here. the problem is only with codeAlly. in vs code, everything works fine including terminal.

[2022-08-23 17:34] moT01 commented on #38
I'm not quite sure what you mean by this. I'm not sure if it's related to when you open it - although, it might be. Sometimes it works right away, and sometimes it doesn't work until you close and reopen it a number of times. So perhaps it's just waiting on something else to finish or be there. If you are continuing a tutorial, the files will already be there, so CodeRoad would just need to run th

[2022-09-01 18:32] IsraelWald commented on #50
The issue is back again.
I closed the page and re-opened it, and it still won't load.

[2022-09-01 21:44] AdamZaczek commented on #50
Hey @IsraelWald, thank you for reporting. We're still checking what happened but it seems like, the problem occurred only for a short time.
Please let me know if the issue still persists for you.

[2022-09-02 12:16] IsraelWald commented on #50
The issue is gone.
Thanks!

[2022-09-04 19:35] Sisa95 commented on #50
I am also experiencing same issue, I was able to run the virtual server earlier, its now stuck on "starting virtual server"

[2022-09-04 22:09] AdamZaczek commented on #50
Thanks for reporting @Sisa95. You should be able to code without issues now. Let me know if that is the case.

[2022-09-07 10:13] kuldeepsharma19 commented on #50
Hi, stuck at "Starting virtual server." please help

[2022-09-07 10:19] kuldeepsharma19 commented on #50
I allowed all cookies in Chrome browser and restarted. It worked!

[2022-09-10 23:35] hbar1st commented on #56
I agree with this. I am constantly having to zoom in and out again to see what is going on (and sometimes blindly copy the characters because I cannot tell an I from an L)

[2022-09-13 00:08] Robitur commented on #50
I'm having the same issue right now.

[2022-09-13 01:28] moT01 commented on #50
Thanks for letting us know @Robitur, I am seeing this as well - we are looking into it. Thanks for your patience.

[2022-09-13 05:56] perrob70 opened #52 "Virtual server does not complete loading"
Describe the bug

I am stuck on loading the virtual Server in both Firefox and Chrome

![pic-selected-220913-0750-18](https://user-images.githubusercontent.com/34983051/189820034-c553ca93-1001-42ef-9a51-05b308f1ab5f.png)

Reproduce
Steps to reproduce the behavior:

   1 Go to https://www.freecodecamp.org/learn/relational-database
   2 Choose any project
   3 Start the project
   4 Click _Run in Co

[2022-09-13 06:22] pgrigorakis commented on #50
I am also having the same issue. I tried with Chrome, all cookies allowed and Edge. Both at home and at work. No luck...

[2022-09-13 06:32] emer-son commented on #50
I'm having the same issue as well. Hope it'll be fixed soon. Thanks!

[2022-09-13 08:36] vfor4 commented on #50
I am also having the same issue.

[2022-09-13 10:04] pgrigorakis opened #53 "VS Code Editor not correctly loading ([vscode] failed to initialize VS Code)"
**Describe the bug**
![image](https://user-images.githubusercontent.com/17252974/189872796-20644b71-8135-4bbb-8677-31d5fae3f4e8.png)

![image](https://user-images.githubusercontent.com/17252974/189873161-ef7d53ea-a57d-4f7b-9f07-1429c1f36f14.png)

**To Reproduce**
Steps to reproduce the behavior:
1 Go to https://www.freecodecamp.org/learn/relational-database
2 Choose any project
3 Start the project

[2022-09-13 11:04] jainvpranav commented on #50
I am also facing the same issue. Please find me a solution. Thank you!

[2022-09-13 14:22] moT01 commented on #50
Thanks for reporting @bohemian83 @emer-son @vfor4 @jainvpranav 👍 It should be working again, let us know if you are still unable to load the courses.

[2022-09-13 14:37] perrob70 commented on #52
It is running and had an update, so i close the issue

[2022-09-13 14:37] #52 closed, assigned to nobody

[2022-09-13 15:40] AdamZaczek commented on #50
Thanks for reporting the issue quickly @jainvpranav, @bohemian83, @Robitur, @Sisa95, @kuldeepsharma19 and @vfor4 ! The issues should be mostly if not entirely gone. Let me know if tutorials work for you now.

[2022-09-13 15:50] pgrigorakis commented on #50
@AdamZaczek Thanks Adam, it is working now, but I am having an issue with vscode not loading. I also reported it, [here](https://github.com/freeCodeCamp/CodeAlly-CodeRoad-freeCodeCamp/issues/53).

[2022-09-13 15:56] vfor4 commented on #50
Thanks @AdamZaczek  , it is working

[2022-09-13 19:32] pgrigorakis commented on #53
@AdamZaczek Hi Adam, just to narrow this down a bit, I checked all the relational database modules and every single one except the [Mario Database (postgres module)](https://www.freecodecamp.org/learn/relational-database/learn-relational-databases-by-building-a-mario-database/build-a-mario-database) is working fine. This is the only one where vscode is not loading. Hope this helps.

[2022-09-13 23:58] AdamZaczek commented on #53
Thank you @bohemian83. We will handle this one!

[2022-09-13 23:59] AdamZaczek commented on #53
Thank you @bohemian83. We will handle this one! This bug should not appear to new users or to your new projects, but it's good that you reported it so we can fix it for you too.

[2022-09-15 14:18] pgrigorakis commented on #50
Unfortunately I am having the issue again, since an hour or so. I was able to complete one module (the students one) and I started the world cup one. It is stuck on "Starting virtual server". I tried it on my desktop normal and incognito mode on Chrome, I tried on Mac (Safari and Chrome) and I also tried a few different modules. All have the same issue.

[2022-09-15 14:28] jainvpranav commented on #50
I am again facing the same problem of the VM startup freezing

[2022-09-15 15:20] moT01 commented on #50
Thanks for reporting again - I am seeing it as well. We will have a fix as soon as we can and let you know.

[2022-09-15 15:52] moT01 commented on #50
It should be working again @bohemian83 @jainvpranav - I was able to load a project just now. CodeAlly is working on a permanent fix for this - so it may happen again until then. If it does, be sure to let us know. Happy coding 🎉

[2022-09-15 15:53] jainvpranav commented on #50
Thank you!!😊

[2022-09-15 15:53] rastamosi commented on #50
Yup , its working again! Thank you.

[2022-09-16 12:08] rastamosi commented on #50
@moT01 seems like it not working again(

[2022-09-16 12:38] AdamZaczek commented on #50
@rastamosi Thanks for reporting! Can you double-check? We don't see any issues in the logs. It might have just been a container loading slower.

[2022-09-16 12:43] moT01 commented on #50
Yea, I think it was just a small hiccup or a slow loading container. I tried a little bit ago and it didn't load - tried again just now and it worked - so I would give it another try.

[2022-09-16 12:44] jainvpranav commented on #50
Ok thank you, I'll try once again.

[2022-09-16 13:50] rastamosi commented on #50
@moT01  Thank you ! it works now .

[2022-09-21 12:44] psiryan opened #54 "Unreadable Terminal - Font Spacing/Styling Issue"
**Describe the bug**
Terminal font spacing is too narrow making the terminal unreadable.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.freecodecamp.org/learn/relational-database/
2. Select Mario Database from the course list
3. Click on 'Run with CodeAlly' button
4. When CodeRoad launches, open new terminal (I use Ctrl+` hotkey)
5. See issue

**Expected behavior**
Expecti

[2022-09-21 12:54] ShaunSHamilton commented on #54
This is a common bug I have seen in applications that use [xterm](https://www.npmjs.com/package/xterm). As CodeAlly is running a flavour of VSCode, I assume that is the culprit.

I am not sure much can be done about this.

[2022-09-22 08:44] Chir92 commented on #50
The issue is reoccurring. I tried after updating my chrome browser. This is the current version of my browser Version 105.0.5195.127 (Official Build) (64-bit) which is the latest. Though, I am facing the issue of loading. Please can anyone check on this?

[2022-09-22 09:32] AdamZaczek commented on #50
Thanks for reporting @Chir92. Tutorials should work well for you now.
It's true that the issue is reoccurring. We are working on a solid fix so that everyone can access tutorials without issues.

[2022-09-22 10:11] AdamZaczek commented on #54
Thank you for reporting @psiryan. That's right @ShaunSHamilton. We don't control the xterm directly and styling issues happen occasionally. Source: https://github.com/microsoft/vscode/issues?q=is%3Aissue+is%3Aopen+xterm.
We need to wait for the fixes on the xterm/vscode side.

[2022-09-22 10:11] #54 closed, assigned to nobody

[2022-09-22 10:13] AdamZaczek commented on #53
I think it's safe to close this one as the underlying problem has been fixed. If you still experience the issue, please let me know.

[2022-09-22 10:13] #53 closed, assigned to nobody

[2022-10-03 18:09] jonro2955 commented on #50
I'm having a similar problem right now. I was able to complete "Learn Bash by Building a Boilerplate" on the browser, but after I moved onto the "Mario Database" course, I got stuck after I tried to drop a database or table that I created by mistake so I tried to reset the course. Then the automatic tests stopped working after each command line entry, so I went on CodeAlly site and deleted the con

[2022-10-03 18:16] moT01 commented on #50
Thanks for reporting @jonro2955 - I am seeing something similar and cannot get in either. We are looking into it.

[2022-10-03 20:11] moT01 commented on #50
It should be working again @jonro2955 - I was able to load up a project just now. Thanks again, let us know if you have any other issues 👍

[2022-10-03 20:37] jonro2955 commented on #50
That's fantastic. Thank you so much.

I'm not sure if you also work on the VSCode side of this course, but I've been trying to follow the Mario Database course as instructed on

https://www.freecodecamp.org/news/how-to-run-freecodecamps-relational-databases-curriculum-using-docker-vscode-and-coderoad/

but it seems the automatic tests aren't functioning properly. I'm not 100% sure if it's not some

[2022-10-03 21:37] moT01 commented on #50
There's a couple things you can [try here](https://forum.freecodecamp.org/t/running-the-relational-database-curriculum-in-your-browser/500231#stuck-on-a-step-10)

[2022-10-04 04:57] jainvpranav commented on #50
Hi, I've completed the kitty ipsum challenege but the virtual IDE isn't loading. I'm getting this screen. Please help me with this.
![Screenshot (136)](https://user-images.githubusercontent.com/100434347/193737649-a2936714-afb8-4ba5-8939-0dcf9406ea71.png)

[2022-10-08 15:44] rensarcakir commented on #50
The issue is reoccurring. I am using version 106.0.5249.103 (Official Build) (64-bit) on Win 11. Could someone please help?

[2022-10-10 09:22] hbar1st commented on #50
Based on the number of forum requests for support, it seems CodeAlly has been down for about a day. If there was a way to report status, then people wouldn't keep trying to run it in vain (I imagine something that may not help it get back up and running)

[2022-10-10 14:19] AdamZaczek commented on #50
Hi @hbar1st, thank you for the report. Let me know if the issue persists.

I've set up a Signal group where you can contact us directly so we can fix the issues swiftly next time. Here’s the link:
https://signal.group/#CjQKIAoVbA4z8EAc8ACg5YHIu999efMYwzM0l4bcRzHKidzCEhBLemfNF9mNkckW4kVQMjCg

[2022-10-20 17:04] 1i1chipsik commented on #50
Hello!
Got stuck on "Starting virtual server".

[2022-10-28 15:48] moT01 commented on #55
I loaded the tutorial up locally for the first time in a while. I was unable to reproduce the getting stuck part of this issue. Sometimes it happens. There's some [troubleshooting steps to try here](https://forum.freecodecamp.org/t/running-the-relational-database-curriculum-in-your-browser/500231#issues-within-a-course-9) - otherwise, maybe just start over. The forum is the place to troubleshoot t

[2022-10-28 15:52] moT01 commented on #55
Not sure if this is a CodeAlly thing, or a VS Code thing, or other - but if you get a chance, maybe something to take a look at @AdamZaczek

[2022-10-28 17:46] arqamgrt commented on #55
Look, When _ try to do it online, on CodeAlly. Accessibility issues are there. Terminal is not accessible. I can't read the output in the terminal.

[2022-11-18 05:03] Wrawller117 commented on #56
I'm having the same issue. Did you figure something out ?

[2022-11-30 07:43] MorphZG commented on #56
Font is to small for sure. I can read but would like to have an option to increase it.